body {
    margin: unset;
    padding: unset;
}
/*타이포*/
:root{
    font-family: "Monteserrat",sans-serif;
}


/*레이아웃*/
.l_wrapper {
    margin: 0 auto;
    width:1200px;
}

/*컴포넌트*/
body {
    background-color: dodgerblue;
    height: 100vh;
    width: 100%;
}

.header {
    height: 100px;
    width: 100px;
}

h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
}