body,ul,li,h1 {
    margin: unset;
    padding: unset;
}
/*💖h1의 마진을 초기화하지 않는다면 
h1의 상하단 마진과 직계부모인 timeline-header의 
마진병합현상이 나타난다*/


/*타이포*/
:root{
    font-family: "Monteserrat",sans-serif;
}
li{
    list-style-type: none;
}


/*레이아웃=>✨ l_wrapper는 레이아웃만 담당한다*/
.l_wrapper {
    margin: 0 auto;
    width:1200px;
}

/*컴포넌트*/
body {
    background-color: dodgerblue;
    height: 100vh;
    width: 100%;
}
.timeline{
    background-color: rgb(255 255 255 / .4); /*✨ rgb 코드=> rgb(rgb코드/투명도)*/
    margin: 0 auto;

}

.timeline-header {

    box-shadow: inset 0 0 10px red;
}

h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.timeline-content{


}

ul{
    background-color: white;
    display: flex;
    flex-flow: column;
    width: 50%;
   
    
}

li:nth-child(even){
    flex-flow:column-reverse;
    background-color: wheat;


}
li:nth-child(odd){
    flex-flow:column;
    background-color: white;
}